# Exercises: Working with Databases in Python

For the exercises, we will be practicing the steps outlined in this [article](https://towardsdatascience.com/do-you-know-python-has-a-built-in-database-d553989c87bd). You can skip the portion where the author downloads a separate SQL client to examine the database.

## Import Libraries

We will need `pandas` and `sqlite3`. SQLite is a small, self-contained database engine that comes with Python so you will not have to do any additional installations for this lesson. If you want to connect to a different database engine, such as SQL server, you may need additional libraries such as `sqlalchemy` or `pyodbc` and a tool called a driver which helps to connect a database to an application.

In [5]:
# Import sqlite3 and pandas.
import sqlite3
import pandas as pd

## Create a Database

In the article, the author shows how to use `sqlite3` to open a connection to an existing database or create a new one. Use this method to make a new database called `exercises.db`.

In [6]:
# Create a new database called exercises.db.
conn = sqlite3.connect('exercises.db')

print ("Opened database successfully");

Opened database successfully

## Create a Table

Follow the steps in the article to create a table called `favorite_books.db`. This table should include columns for the title, author, and a short description of why it is a favorite.

In [14]:
# Create a new table in your database.
import sqlite3
import pandas as pd 
conn = sqlite3.connect('exercises.db')
print ("Opened database successfully");
conn.execute('''CREATE TABLE favorite_books
         (Title TEXT PRIMARY KEY     NOT NULL,
         Author           TEXT    NOT NULL,
         Description      TEXT     NOT NULL
         );''')
print ("Table created successfully");

conn.close()

Opened database successfully

OperationalError: table favorite_books already exists

## Insert Records

Add 3 entries to your table for your top 3 favorite books.

In [3]:
# Add your 3 favorite books to your table.
import sqlite3
import pandas as pd 
conn = sqlite3.connect('exercises.db')
print ("Opened database successfully");

conn.execute("INSERT INTO favorite_books (Title,Author,Description) \
      VALUES ('The Hunger Games', 'Suzanne CollinsPaul', 'Unknown' )");

conn.execute("INSERT INTO favorite_books (Title,Author,Description) \
      VALUES ('Harry Potter and the Philosophers Stone', 'J.K. Rowling, Mary GrandPr√©', 'Mystery' )");

conn.execute("INSERT INTO favorite_books (Title,Author,Description) \
      VALUES ('Twilight', 'Stephenie Meyer', 'Unknown' )");

conn.execute("INSERT INTO favorite_books (Title,Author,Description) \
      VALUES ('To Kill a Mockingbird', 'Harper Lee', 'unknown' )");

conn.commit()
print ("Records created successfully");
conn.close()

Opened database successfully
Records created successfully

## Query Your Table

Write a `SELECT` query to output the 3 records in your table.

In [15]:
# Write your SELECT query here.
import sqlite3
import pandas as pd 
conn = sqlite3.connect('exercises.db')
print ("Opened database successfully");

cursor = conn.execute("SELECT Title, Author, Description from favorite_books")
for row in cursor:
   print ("Title = ", row[0])
   print ("Author = ", row[1])
   print ("Description = ", row[2])

print ("Operation done successfully");
conn.close()

Opened database successfully
Title =  The Hunger Games
Author =  Suzanne CollinsPaul
Description =  Unknown
Title =  Harry Potter and the Philosophers Stone
Author =  J.K. Rowling, Mary GrandPr√©
Description =  Mystery
Title =  Twilight
Author =  Stephenie Meyer
Description =  Unknown
Title =  To Kill a Mockingbird
Author =  Harper Lee
Description =  unknown
Operation done successfully

## Create a New Table with Pandas

Create a new table called `favorite_movies` with your top 3 favorite movies. Each movie should have an id and a title. This time, use Pandas to first make a dataframe and then write the dataframe to SQL. Write a `SELECT` query to confirm that the new table does have your top 3 favorite movies.

In [20]:
# Use Pandas to make a new table in your database.